* {
	margin: 0;
	padding: 0;
}

.wpar_content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.content{
	width: 250px;
	height: 250px;
	border:3px #004ba0 solid;
	background: #63a4ff;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	
}

.rec{
	width: 110px;
	height: 110px;
	background: #1976d2;
	border: 1px #fff solid;
	
}

.content:hover .rec{
	border-radius: 80%; 
	transition: border-radius .3s;
}